<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>USERS PAGE</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to the users form</h1>
        <form method="POST">
            {{form.as_p}}
            {%csrf_token%}
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
    <!-- {% if users %}
        <h1>Here are your users</h1>
        {% for use in users %}
        <ol>
            <li>Users info
                <ul>
                    <li>{{ use.first_name }}</li>
                    <li>{{ use.last_name }}</li>
                    <li>{{ use.email }}</li>
                </ul>
            </li>
        </ol>
        {% endfor %}
    {% else %}
    <p>Oops! no user found</p>
    {% endif %} -->
</body>
</html>