{% extends "blog/base.html"%}
{% block body_block %}
    <div class="postcontent">
        <h1>About this company</h1>
        <p>ToyFight is an award-winning creative design agency.

            You’ll find the About Page at the top of the menu under the Who section.
            
            This page has a unique feel, thanks to the deconstructed action figures representing the founders, Leigh Whipday and Jonny Lander.
            
            The great attention to detail and interactivity also reflect the company’s 16 years of experience.
        </p>
    </div>
{% endblock %}